<div class="row gd-contact">
    <div class="col-md-4">
        <h3>Telephone</h3>
		<div ><span style="display: inline-block; width: 80px; font-size: 0.8em;">Local</span><a href="tel://590590875187">590 590 87 51 87</a></div>
		<div><span style="display: inline-block; width: 80px; font-size: 0.8em;">Toll free</span><a href="tel://18003443016">800.344.3016</a></div>

    </div>
    <div class="col-md-8">
        {% filter shortcodes %}
        [contact-form-7 id="2398" title="Guest Directory"]
        {% endfilter %}
    </div>
</div>
<style>
.gd-contact a, .gd-contact span {
    color: #fff !important;

}
.gd-contact h3 {
    margin-top: 0;
    padding-top: 0;
    color: #2d2d2d;
}
