<table class="table transportation" >
	<thead>
	<tr>
	<th colspan="3" style="text-align: center;">
	Click on Airline for website.
	</th>
	<tbody>
		<tr>
			<td><a class="alt-link" href="https://www.aircanada.com/en/" target="_blank">Air Canada</a></td>
			<td><a class="alt-link" href="http://www.united.com/web/en-US/default.aspx?root=1" target="_blank">Continental</a></td>
			<td><a class="alt-link" href="http://www.klm.com/" target="_blank">KLM</a></td>
		</tr>
		<tr>
			<td><a class="alt-link" href="http://www.aircaraibes.com/" target="_blank">Air Caraibes</a></td>
			<td><a class="alt-link" href="http://www.copaair.com/sites/ca/en/pages/homepage.aspx" target="_blank">Copa</a></td>
			<td><a  class="alt-link" href="http://www.spirit.com" target="_blank">Spirit</a></td>
		</tr>
		<tr>
			<td><a class="alt-link" href="http://www.airfrance.com/indexCOM.html" target="_blank">Air France</a></td>
			<td><a class="alt-link" href="http://www.delta.com/" target="_blank">Delta</a></td>
			<td><a class="alt-link" href="http://www.united.com/web/en-US/default.aspx?root=1" target="_blank">United</a></td>
		</tr>
		<tr>
			<td><a class="alt-link" href="http://www.airtransat.ca/en/Home.aspx" target="_blank">Air Transat</a></td>
			<td><a class="alt-link" href="http://www.fly-inselair.com/" target="_blank">Insel</a></td>
			<td><a class="alt-link" href="http://www.usairways.com/" target="_blank">US Air</a></td>
		</tr>

		<tr>
			<td><a class="alt-link" href="http://www.aa.com/homePage.do" target="_blank">American</a></td>
			<td><a class="alt-link" href="http://www.jetblue.com/" target="_blank">Jet Blue</a></td>
			<td><a class="alt-link" href="http://www.westjet.com/" target="_blank">West Jet</a></td>
		</tr>

	</tbody>
</table>
<style>
.table.transportation a{
    color: #fff !important;
}
</style>
